<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>


<form action="/member/login" method="post">
    <input type="text" name="memberEmail" placeholder="Email를 입력하세요">
    <input type="text" name="memberPassword" placeholder="Password를 입력하세요">
    <p id="login-result" style="color: red; display: none">
        이메일 또는 비밀번호가 틀립니다!
    </p>
    <input type="button" value="로그인" onclick="login()">
</form>
<a href="/">처음으로 돌아가기</a>
<div th:replace="component/footer :: footer"></div>
</body>
<script>
    const login = () => {
        const email = document.querySelector('input[name="memberEmail"]').value;
        const password = document.querySelector('input[name="memberPassword"]').value;
        axios({
            method: "post",
            url: "/member/login/axios",
            data: {
                memberEmail: email,
                memberPassword: password
            }
        }).then(res => {
            // then : success
            console.log("res", res);
            location.href="/member/myPage"
        }).catch(err => {
            // catch : error
            console.log("err", err);
            document.getElementById("login-result").style.display="block";
        });

    }
</script>
</html>